/* CSS declarations go here */
.index {
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.office {
  background: url("/office.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bar {
  background: url("/bar.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.userRoomPage {
  background: url("/roomy.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mySideBar{
	position:absolute;
	height:100%;
	top:0;
	bottom:0;
	left:0;
	width:200px;
	text-align:justify;
	background:white;
}


.myFriendBar{
	position:absolute;
	height:100%;
	top:0;
	bottom:0;
	right:0;
	width:150px;
	text-align:justify;
	background:white;
}

p{
  color: green;
}

.buttonSpacing{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.actionButtonSpacing{
  margin-left: 10px;
}

.playerStatIconSpacing{
  margin-left: 10px;
}


.imageSizing{
	height:auto;
	width:auto;
	max-height:90%;
	max-width:100%;
}


.glyphicon {
  font-size: 1.5em;
}

#socialHackTitleColor{
  color: red;
}

.centerTexting{
  margin-left: 210px;
}

/* chat stuff */


.chat {
  position: absolute;
  bottom: 40px;
  left: 220px;
  right: 170px;
  max-height: 200px;
  overflow: none;
}

#chatMessages {
   overflow:   auto;
   position:   absolute;
   bottom:     70px;
   width: 100%;
   max-height: 200px;
  background: white;
  padding: 5px;
  font-size: 1.25em;
 }

/*end of chat stuff */


#footerPart{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#noRest{
  display: none;
}

#noMoney{
  display: none;
}

#noDrinking{
  display: none;
}

#adminOnly{
  display: none;
}
